* {
margin: 0;
font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: #111;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.brand-title a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
}

.toggle-button{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
margin-left: 1rem;

}

.navbar-links a {
text-decoration: none;
color: #fff;
padding: 0.5rem 1rem;
transition: background 0.3s;

}

.navbar-links a:hover {
    background-color: #575757;
}

.sidebar {
    height: 53%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #222;
    overflow-x: hidden;
    transition: left 0.5s;
    padding: 60px;
    padding-top: 90px;
border: 1.5px solid #575757;
border-radius: 5px;
    
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -40px;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

@media (max-width:768px){
    .navbar-links{
        display: none;
    }
    .toggle-button{
        display: block;
    }
}

a.toggle-button {
    color: #fff;
    text-decoration: none;
}
.cover-photo{
    background: url(../img/cover4.png);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    filter: brightness(60%);
    padding-bottom: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 30px;
    font-size: 55px;
    text-align: right;
    margin-left: 10px;
    margin-right: 30px;
    
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 30px;
    font-size: 38px;
    text-align: right;
    margin-left: 10px;
    margin-right: 45px;
    
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    padding-top: 30px;
    font-size: 25px;
    text-align: right;
    margin-left: 20px;
    margin-right: 45px;
    
}
aside{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 30px;
    font-size: 15px;
    text-align: right;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-right: 45px;
}
button{
    padding: 10px 15px;
    margin-left: 35px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-weight: 400;
    border: 1.5px solid white;
font-size: medium;
}
a{
    text-decoration: none;
    color: #fff;
}
.cover-about{
    background: url(../img/services.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    filter: brightness(65%);
    padding-bottom: 5px;
    
}

.cover-about .h2{
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    padding-top: 30px;
    font-size: 38px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}
.aside{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;

}
.cover-blog{
    background: url(../img/services.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    filter: brightness(65%);
    padding-bottom: 20px;

}
.aside-blog{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
    padding-bottom: 40px;
    margin-left: 25px;
    margin-right: 0px;
font-weight: 400;
}
.h2-blog{
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    padding-top: 30px;
    font-size: 38px;
    text-align: center;
    margin-left: 25px;
    margin-right: 0px;
    
}
.cover-services{
    background: url(../img/services.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    filter: brightness(70%);
    padding-bottom: 20px;
}
.aside-service{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-right: 0px;
font-weight: 400;
}
.h2-service{
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    padding-top: 30px;
    font-size: 38px;
    text-align: center;
    margin-left: 25px;
    margin-right: 0px;
    
}

.cover-contact{
    background: url(../img/contact.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    filter: brightness(65%);
    padding-bottom: 40px;
}
.aside-contact{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 17px;
    text-align: right;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-right: 45px;
font-weight: 400;
}
.h2-contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:yellow;
    padding-top: 100px;
    font-size: 38px;
    text-align: right;
    margin-left: 10px;
    margin-right: 45px;
    
}

.cover-products{
    background: url(../img/services.jpg);
    background-position: center;
    background-attachment: local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    filter: brightness(70%);
    padding-bottom: 20px;
}
.aside-products{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    margin-top: 30px;
    font-size: 17px;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-right: 0px;
font-weight: 400;
}
.h2-products{
    font-family: Arial, Helvetica, sans-serif;
    color:yellow;
    padding-top: 30px;
    font-size: 38px;
    text-align: center;
    margin-left: 25px;
    margin-right: 0px;
    
}

.contact-body{
    background-color: #fff;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 30px;
}

.form-container{
    background: #111;
    padding: 20px;
    border-radius: 8px;
    width:90% ;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-top:80px;
    margin-left: 5%;
    margin-right: 5%;
    
}
.contact-h2{
    margin-bottom: 20px;
    color: darkgray;
font-size: 25px;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}
label{
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}
input,select,textarea{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}
button.submit-btn{
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-left: 20%;
margin-right: 20%;
    transition: background 0.3s ease;
}
button.submit-btn:hover{
    background-color: #218838;
}
textarea{
    resize: vertical;
}
.section{
    background-color: orange;
    height: max-content;
    padding-bottom: 20px;
    padding-top: 10px;
}

h2.text{
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    padding-top: 30px;
    font-size: 17px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
}

h2.text-change{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding-top: 30px;
    font-size: 26px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px; 
}
.news-letter{
    background-color: #222;
    height: max-content;
    padding-bottom: 20px;
    text-align: center;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    
}
h2.text-letter{
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
    padding-top: 30px;
    font-size: 17px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;

}
.label{
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 75px;
font-size: medium;
padding-bottom: 10px;
color: #333;
}
.call-btn{background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 35%;
margin-right: 35%;
    transition: background 0.3s ease;
}
button.submit-btn:hover{
    background-color: #218838;
}
.input{
width: 80%;
margin-left: 7%;

}
footer{
    background-color: black;
    height: max-content;
    padding-bottom: 20px;
}
.footer-logo{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 30px;
    border-radius: 50%;
    margin-bottom: 50px;
}

.text-p{
    font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 45px;
font-size: 25px;
padding-bottom: 10px;
color: #ddd;
font-weight: 600;
padding-bottom: 20px;
}
.a{
    display: block;
    padding: 5px;
    text-align: center;
    font-weight: lighter;
}

.p{
font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 5px;
font-size: 15px;
padding-bottom: 10px;
color: #ddd;
font-weight: 300;
}

.text-f{
    font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 45px;
font-size: 12px;
padding-bottom: 10px;
color: rgb(255, 255, 0);
font-weight: 600;
padding-bottom: 20px;

}

button.submit-btn2{
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
margin-right: 25%;
    transition: background 0.3s ease;
}
button.submit-btn2:hover{
    background-color: #218838;
}
h2.head{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 500;
    text-align: center;
    padding-top: 45px;
    font-size: 22px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.Service-body{
    background-color: #fff;
    height: max-content;
}
.service-list{
    width: 100%;
    
}
.service-item{
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
padding: 20px;
text-align: center;
transition: transform 0.3s;
cursor: pointer;
perspective: 1000px;
margin-top: 20px;
margin-bottom: 20px;
}
.service-item img{
    width: 50%;
    border-radius: 10px;
}
.service-item:hover{
    transform: scale(1.05);
}
.service-item.clicked{
    transform: rotateY('180deg');
}
.p-t{
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 12px;
    padding-bottom: 10px;
    color: #333;
    
    }
    .name-service{

        font-family: Arial, Helvetica, sans-serif;
        color: darkgray;
        font-weight: 500;
        text-align: center;
        padding-top: 45px;
        font-size: 22px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
.Product-body{
    background-color: #fff;
    height: max-content;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}
video{
    width: 60%;
    margin-left: 20% ;
    padding-top: 40px;
    padding-bottom: 10px;
}

.p-product{
    font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-weight: 500;
margin-left: 50px;
margin-right: 50px;
margin-top: 75px;
font-size: 13px;
padding-bottom: 10px;
color: #333;
}
.image{
    width: 50%;
    margin-left: 25%;
    padding-top: 40px;
}

h2.text1{
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    padding-top: 30px;
    font-size: 18px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    font-weight: 600;
}
.container{
    background-color: darkorange;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
}

#confirmation{
    text-align: center;
    color: #333;
}
.hidden{
    display: none;
}
.booking-section{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-bottom:80px;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.blog-body{
    height: max-content;
    background-color: #fff;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}

img.p{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    border-radius: 6%;
    border: 1px solid #111;
    padding-top: 45px;
}
img.photo{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    border: 1px solid #111;
    border-radius: 48%;
}
.reviews-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
}
.review{
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px #818181;
    margin: 5px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    padding-top: 40px;
}
.review-header{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.date{
    color: orange;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;

}
.review-text{
    color: white;
    font-size: 13px;
line-height: 1.5;
margin-top: -1px;
}
h2.sub-text{
    font-size: 28px;
    color: whitesmoke;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -50px;
}

.about-body{
    height: max-content;
    background-color: #fff;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}

h2.text-change{
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    padding-top: 30px;
    font-size: 26px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px; 
}

.quick{
    height: max-content;
    background-color: #fff;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    margin: 0;

}

h2.text2{
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    padding-top: 30px;
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    font-weight: 600;
}
h3.hp{
    font-family: Arial, Helvetica, sans-serif;
    color:orange;
    padding-top: 30px;
    font-size: 26px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    font-weight: 600;
}

.middle-section{
    background-color: #fff;
    height: max-content;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.stats-section{
    display: grid;
    grid-template-columns: repeat(auto-fit), minmax(150px,1fr);
    gap: 20px;
background-color: #222;
padding: 40px;
width: 60%;
max-width: 1000px;
text-align: center;

}
.stat{
    background-color: #c4e538;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  h6 {
    margin: 0;
    font-size: 30px;
    color: #ddd;
}
.m{
    margin: 10px 0 0;
    font-size: 1rem;
    font-weight: 450;
    color: orange;
}

.hp1{
    
    font-size: 22px;
    font-weight: 600;
    color: #222;
    text-align: center;
}
.fade-out{
    opacity: 0;
}

.pro{
    font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 15px;
    color: #222;
    font-weight: 300;
    
    }

h3.hp3{
    font-family: Arial, Helvetica, sans-serif;
    color:#222;
    padding-top: 30px;
    font-size: 29px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    font-weight: 600;
}

.log{
    width: 12%;
    margin-left: 2%;
    margin-right: 0;
    margin-top: 0px;
    border-radius: 50%;
    margin-bottom: 10pxpx;
}

.social{
    width: 15%;
    margin-left: 42.5%;
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 10pxpx;
}

.faq-body{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.faq-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    max-width: 600px;
    color: #333;
}
.faq-item{
    margin-bottom: 10px;
}
.faq-question{

    width: 100%;
    background: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: background 0.3s;
}
.faq-question:hover{
    background: #0056b3;
}
faq-answer{
    display: none;
    background: #f9f9f9;
    border-left: 3px solid #007BFF;
    border-radius: 0 5px 5px 5px;
    margin-top: 5px;
}